@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}
.App{
  height: 100vh;
  background: #212121;
}
.contentSearch{
  text-align: center;
}
button{
  padding: 5px;
  background: #c6ce00;
  position: relative;
  border: 2px solid #c6ce00;
  font-size: 1.3rem;
  cursor: pointer;
}
.input{
  background: #40ffff ;
  position: relative;
  border: 2px solid #c6ce00;
  text-align: center;
  padding: 5px;
  width: 50%;
  font-size: 1.3rem;
}
.logo{
  height: 150px;
  background-image: url(./images/logo2.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 50px;
}
.aboutUbication{
  position: relative;
  color: #fff;
  font-size: 1.3rem;
  top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
h3{
  grid-column: 1 / 4;
  text-align: center;
  margin: 5px;
  font-size: 1.3rem;
}
p{
  text-align: center;
  line-height: 1.5rem;
}
.residents{
  position: relative;
  top: 100px;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  background: #212121;
}
.resident{
  width: 220px;
  border-radius: 20px;
  background: #c6ce00;
  margin: 10px;
  font-size: 1rem;
  color: #212121;
}
.residentImage{
  border-radius: 20px 20px 0 0;
}
.info{
  padding: 10px;
}
i{
  color: #094293;
}